In [38]:
%cd ~/Google\ Drive/Datasets/

/Users/rowan/Google Drive/Datasets

In [39]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import image
import brewer2mpl



# Set up some better defaults for matplotlib
from matplotlib import rcParams

#colorbrewer2 Dark2 qualitative color table
dark2_colors = brewer2mpl.get_map('Dark2', 'Qualitative', 7).mpl_colors

rcParams['figure.figsize'] = (14, 10)
rcParams['figure.dpi'] = 150
rcParams['axes.color_cycle'] = dark2_colors
rcParams['lines.linewidth'] = 2
rcParams['axes.facecolor'] = 'white'
rcParams['font.size'] = 14
rcParams['patch.edgecolor'] = 'white'
rcParams['patch.facecolor'] = dark2_colors[0]
rcParams['font.family'] = 'StixGeneral'


def remove_border(axes=None, top=False, right=False, left=True, bottom=True):
    """
    Minimize chartjunk by stripping out unnecesasry plot borders and axis ticks

    The top/right/left/bottom keywords toggle whether the corresponding plot border is drawn
    """
    ax = axes or plt.gca()
    ax.spines['top'].set_visible(top)
    ax.spines['right'].set_visible(right)
    ax.spines['left'].set_visible(left)
    ax.spines['bottom'].set_visible(bottom)

    #turn off all ticks
    ax.yaxis.set_ticks_position('none')
    ax.xaxis.set_ticks_position('none')

    #now re-enable visibles
    if top:
        ax.xaxis.tick_top()
    if bottom:
        ax.xaxis.tick_bottom()
    if left:
        ax.yaxis.tick_left()
    if right:
        ax.yaxis.tick_right()

In [40]:
%matplotlib inline

In [41]:
olympic_medalists_file = 'Summer Olympic medallists 1896 to 2008 - ALL MEDALISTS.csv'


df = pd.read_csv(olympic_medalists_file, sep=',')


df.rename(columns={'Edition': 'Year'}, inplace=True)

df.head()

,City,Year,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [42]:
df = df.ix[df.Gender == 'Women',]

In [43]:
df = df[['Year', 'Discipline']]
df.head()

     Year Discipline
416  1900       Golf
417  1900       Golf
418  1900       Golf
639  1900     Tennis
640  1900     Tennis

In [44]:
df.Discipline.value_counts()

Swimming           1104
Athletics          1067
Artistic G.         643
Rowing              591
Volleyball          431
Handball            387
Hockey              383
Basketball          323
Fencing             283
Canoe / Kayak F     210
Football            208
Softball            180
Diving              165
Synchronized S.     153
Judo                140
Water polo          117
Shooting            110
Tennis              108
Archery              99
Dressage             98
Rhythmic G.          93
Sailing              88
Weightlifting        63
Table Tennis         60
Badminton            60
Eventing             53
Cycling Track        51
Taekwondo            40
Cycling Road         33
Wrestling Free.      28
Jumping              27
Beach volley.        24
Canoe / Kayak S      18
Mountain Bike        12
Figure skating       12
Trampoline            9
Modern Pentath.       9
Triathlon             9
Golf                  3
BMX                   3
dtype: int64

In [47]:
year_and_discipline = df.groupby(['Year', 'Discipline'])

year_and_discipline_df = pd.DataFrame(year_and_discipline.size(), columns=['Medal Count'])
year_and_discipline_df['Year'] = year_and_discipline_df.index.get_level_values('Year')
year_and_discipline_df['Discipline'] = year_and_discipline_df.index.get_level_values('Discipline')
year_and_discipline_df = year_and_discipline_df.reset_index(drop=True)

year_and_discipline_df.head()

   Medal Count  Year      Discipline
0            3  1900            Golf
1            8  1900          Tennis
2           12  1904         Archery
3            3  1908         Archery
4            6  1908  Figure skating

In [46]:
year_and_discipline_df.to_csv('Year_and_Discipline_Women_Olympics_Dataset_All_Years.csv', index=False)